@(archive: IArchive)

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" type="text/css" >
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript" defer="defer" ></script>


    </head>

    <style type="text/css">
    .Absolute-Center.is-Responsive {
        width: 50%;
        min-width: 300px;
        max-width: 600px;
        padding: 30px;
    }

    .Absolute-Center {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    </style>

    <div class="Absolute-Center is-Responsive">
        <html>
            <head>
                <title>@archive.getName()</title>
            </head>

            <body>
                <form method="POST" action="@routes.LoggedUserController.editarArquivoTexto(archive.getPath)">
                    <div>
                        <label for="name" style="font-family: Calibri">Nome do Arquivo:</label>
                        <input type="text" name="name" id="name" value="@archive.getName" > <br>
                    </div>
                    <p></p>
                    <div>
                        <label for="texto" style="font-family: Calibri">Conteudo:</label>
                    </div>
                    <div>
                        <textarea name="texto" id="texto" rows="20" cols="90">@archive.getText</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-md" style="font-family: Calibri">Salvar</button>
                    <input type="button" class="btn btn-primary btn-md" value="Cancelar" onClick="location.href = '@routes.LoggedUserController.verArquivo(archive.getPath)'">
                </form>
            </body>
        </html>
    </div>