@(usuario :Usuario)

@main("Editar") {
    <h2>Editar Conta</h2>

    <form method="POST" action="@routes.LoggedUserController.editarConta()">
        <div>
            <label style="font-family: Calibri">Username:</label>
            <input type="text" name="username" value="@usuario.getUsername()"/> <br>
        </div>
        <div>
            <label style="font-family: Calibri">Email:</label>
            <input type="text" name="email" value="@usuario.getEmail()"/> <br>
        </div>
        <div>
            <label style="font-family: Calibri">Senha atual:</label>
            <input type="password" name="senhaAtual"/> <br>
        </div>
        <div>
            <label style="font-family: Calibri">Nova Senha:</label>
            <input type="password" name="senhaNova1"/> <br>
        </div>
        <div>
            <label style="font-family: Calibri">Confirmar Nova Senha:</label>
            <input type="password" name="senhaNova2"/> <br>
        </div>
        <button type="submit">Editar</button>
    </form>
}