@(archive: Archive)

<!DOCTYPE html>

<html>
    <head>
        <title>@archive.getName()</title>
    </head>

    <body>
        <form method="POST" action="@routes.LoggedUserController.editarArquivoTexto(archive.getPath)">
            <div>
                <label for="name" style="font-family: Calibri">Nome do Arquivo:</label>
                <input type="text" name="name" id="name" value="@archive.getName" > <br>
            </div>
            <p></p>
            <div>
                <label for="texto" style="font-family: Calibri">Conteudo:</label>
            </div>
            <div>
                <textarea name="texto" id="texto" rows="20" cols="90">@archive.getText</textarea>
            </div>
            <button type="submit" style="font-family: Calibri">Salvar</button>
            <input type="button" value="Cancelar" onClick="location.href='@routes.LoggedUserController.verArquivo(archive.getPath)'">
        </form>
    </body>
</html>