@(username :String, notificacoes:List[String])(content: Html)
@main(username) {
    <h2>Bem-vindo @username!</h2>

    <html>
        <head>
            <title>Exemplo notification</title>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
            <link rel="stylesheet"  href="@routes.Assets.at("stylesheets/estilo.css")" type="text/css"  />
            <script src="@routes.Assets.at("javascripts/funcao.js")" type="text/javascript" defer="defer" ></script>
        </head>
        <body>
            <body style="margin:0;padding:0;">
                <div>

                        <li id="notification_container">
                            <div id="notification_counter"></div>   <!--Aqui mostra a quantidade de notificações.-->


                            <!--Círculo com um dropdown de notificação -->
                            <div id="notification_button">Notificações</div>

                            <!--Notificação dropdown-->
                            <div id="notifications">
                                @for(notificacao <- notificacoes.reverse) {
                                   <p>@notificacao</p>
                                }

                                <div style="height: 300px;"></div>
                                <div class="seeAll"><a href="#">Ver todos</a></div>
                            </div>
                        </li>

                </div>
            </body>

        </body>
    </html>

    @content

    <p></p>
    <form>
        <button formmethod="get" formaction="@routes.LoggedUserController.editarRender()" type="submit">
            Editar Conta
        </button>

        <button formmethod="get" formaction="@routes.LoggedUserController.logout()" type="submit">
            Sair
        </button>
    </form>
}