


@main("TextDropBox") {

    <h2 style="font-family: Calibri">Cadastro</h2>

    @if(flash.containsKey("cadastro")) {
        <p style="background-color: rgba(255, 0, 0, 0.5)">@flash().get("cadastro")</p>
    }

    <form method="POST" action="@routes.CadastroController.cadastraUsuario()">
        <div>
            <label style="font-family: Calibri">nome:</label>
            <input type="text" name="username" placeholder="nome" style="font-family: Calibri"/> <br>
        </div>
        <div>
            <label style="font-family: Calibri">email:</label>
            <input type="text" name="email" placeholder="email" style="font-family: Calibri"/> <br>
        </div>
        <div>
            <label style="font-family: Calibri">senha:</label>
            <input type="password" name="senha" placeholder="senha" style="font-family: Calibri"/> <br>
        </div>
        <button type="submit" style="font-family: Calibri">Ok</button>
        <button type="reset" style="font-family: Calibri">Cancelar</button>
    </form>

}
