@main("Login") {

    <h2 style="font-family: Calibri">Login</h2>
    <form method="POST" action="@routes.Application.login()">
        <div>
            <label style="font-family: Calibri">Login:</label>
            <input type="text" name="login" placeholder="Username ou Email" style="font-family: Calibri"/> <br>
        </div>
        <div>
            <label style="font-family: Calibri">Senha:</label>
            <input type="password" name="senha" placeholder="Senha" style="font-family: Calibri"/> <br>
        </div>
        <button type="submit" style="font-family: Calibri">Entrar</button>
    </form>

    <form method="get" action="@routes.Application.index()">
        <div>
            <button type="submit">Cadastre-se aqui!</button>
        </div>
    </form>
}