@main("Login") {

    <h2 style="font-family: Calibri">Login</h2>
    @if(flash.containsKey("login")) {
        <p style="color: rgba(255, 0, 0, 0.5)">@flash().get("login")</p>
    }

    @if(flash.containsKey("erro")) {
        <p style="color: rgba(255, 0, 0, 0.5)">@flash().get("erro")</p>
    }
    <form method="POST" action="@routes.Application.login()">
        <div>
            <label style="font-family: Calibri">Login:</label>
            <input type="text" name="login" placeholder="Username ou Email" style="font-family: Calibri"/> <br>
        </div>
        <div>
            <label style="font-family: Calibri">Senha:</label>
            <input type="password" name="senha" placeholder="Senha" style="font-family: Calibri"/> <br>
        </div>
        <button type="submit" style="font-family: Calibri">Entrar</button>
        <button formmethod="get" formaction="@routes.Application.cadastroRender()" type="submit">Cadastre-se aqui!</button>
    </form>
}