@(path: String)

@main("Novo Diretorio") {

    <html lang="pt-br">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">


            <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" type="text/css" >
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
            <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript" defer="defer" ></script>

        </head>
        <style type="text/css">
        .Absolute-Center.is-Responsive {
            width: 50%;
            min-width: 200px;
            max-width: 400px;
            padding: 30px;
        }

        .Absolute-Center {
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
        </style>

        <div class="Absolute-Center is-Responsive">
        <h2 style="font-family: Calibri">Criar novo diretorio</h2>

        <p>Criando novo diretorio em @path</p>

        <form method="POST" action="@routes.LoggedUserController.newDirectory()">
            <div>
                <label style="font-family: Calibri">Nome do Diretorio:</label>
                <input type="text" name="name" placeholder="Nome" style="font-family: Calibri"/> <br>
            </div>
            <button type="submit" class="btn btn-primary btn-md"  style="font-family: Calibri">Criar</button>
        </form>
    </div>
}