@main("Criar Texto") {
    <html lang="pt-br">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">


            <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" type="text/css" >
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
            <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript" defer="defer" ></script>

        </head>
    <h2 style="font-family: Calibri">Novo Arquivo Texto</h2>

    <form method="POST" action="@routes.LoggedUserController.criarArquivoTexto()">
        <div>
            <label style="font-family: Calibri">Nome do Arquivo:</label>
            <input type="text" name="name" placeholder="Nome" style="font-family: Calibri"/>
            <select name="type">
                <option value="txt"> txt </option>
                <option value="md"> md </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-md" style="font-family: Calibri">Criar</button>
    </form>
}