@(usuario :Usuario)(directory : Directory)

<!DOCTYPE html>

<html>
    <head>
        <title>@usuario.getUsername()</title>
    </head>
    <body style="font-family: Calibri">
        <h2>Bem vindo @usuario.getUsername()!</h2>
        <h3 style="font-family: Calibri">Arquivos</h3>

        @if(directory.isEmpty() == true){
           <p> Pasta Vazia </p>

            <form method="get" action="@routes.LoggedUserController.editDirectory(directory.getPath))">
                <button type="submit">Voltar</button>
            </form>

        }else{
            @for(archive <- directory.getListArchive()){
                <p><a href="@routes.LoggedUserController.editarArquivoRender(archive.getPath)"> @archive.getName <br /> </a></p>
            }
            @for(dir <- directory.getListDirectory()) {
                <a href="@routes.LoggedUserController.editDirectory(dir.getPath())"> @dir.getName() <br/></a>
            }
        }


        <form method="get" action="@routes.LoggedUserController.editarRender()">
            <button type="submit">Editar Conta</button>
        </form>

        <form method="get" action="@routes.LoggedUserController.criarArquivoRender()">
            <button type="submit">Criar Texto</button>
        </form>

        <form method="get" action="@routes.LoggedUserController.logout()">
            <div>
                <button type="submit">Sair</button>
            </div>
        </form>
    </body>
</html>