@(archive: IArchive)(user: Usuario)

<!DOCTYPE html>

<html>
  <head>
    <title>@archive.getName</title>
  </head>
  <body>
    @if(flash.containsKey("repeticao")) {
      <p style="color: rgba(255, 0, 0, 0.79)">@flash().get("repeticao")</p>
    }
    <h2>@archive.getNameType</h2>
    <textarea disabled rows="20" cols="90">@archive.getText</textarea>
    <form>
      @if(archive.getOwner().equals(user) || archive.getCompartilhamento().getCompartilhadoEdicao().contains(user)) {
        <button formmethod="get" formaction="@routes.LoggedUserController.editarArquivoRender(archive.getPath)" type="submit">Editar</button>
      }
      @if(archive.getOwner().equals(user)) {
        <button formmethod="get" formaction="@routes.LoggedUserController.compartilharRender(archive.getPath)" type="submit">Compartilhar</button>
        <button formmethod="get" formaction="@routes.LoggedUserController.excluirArquivo(archive.getPath)" type="submit">Excluir</button>
      }
      @if(archive.getOwner().equals(user) && archive.isShared) {
        <button formmethod="get" formaction="@routes.LoggedUserController.removeCompRender(archive.getPath)" type="submit">Remover Compartilhamento</button>
      }
      @if(archive.isShared) {
        <button formmethod="get" formaction="@routes.LoggedUserController.cancelarCompartilhamento(archive.getPath)" type="submit">Cancelar Compartilhamento</button>
      }
    </form>
    <p></p>
    <form>
      <button formmethod="get" formaction="@routes.LoggedUserController.openDirectory(session().get("dir"))" type="submit">
      Voltar
      </button>
    </form>

  </body>
</html>